<div class="box-gallery"><div class="col-md-12">
    <h3>3D Галерея</h3>
</div>
<div class="col-md-12">
    <div class="detail-gallery-wrap" style="overflow: hidden;">
        <div id="detail-gallery" class="detail-gallery" style="transform: translateZ(0px); width: 1416px;"><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_KILIM_NATURAL_RESTAURANT_.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_NATURAL_RESTAURANT_.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_NATURAL_RESTAURANT_.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_KILIM_PULIDO_.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_PULIDO_.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_PULIDO_.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/kiliml_2439.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/kiliml_2439.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/kiliml_2439.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_kilim.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_KILIM_90_SALON_.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_90_SALON_.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_90_SALON_.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_KILIM_SINGLE_SALON_.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_SINGLE_SALON_.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_KILIM_SINGLE_SALON_.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_kilim2.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim2.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim2.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/aparici_kilim3.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim3.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/aparici_kilim3.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/carpet_H1C1372.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1372.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1372.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/carpet_H1C1384.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1384.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1384.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/carpet_H1C1690.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1690.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/carpet_H1C1690.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/kilim_2452.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/kilim_2452.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/kilim_2452.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/kiliml_23439.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/kiliml_23439.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/kiliml_23439.jpg" alt="">
</a><a href="https://www.santa-keramika.ru/uploads/photos/large/kilim_pool231.jpg" class="detail-gallery-item" style="background-image: url(&quot;https://www.santa-keramika.ru/uploads/photos/small/kilim_pool231.jpg&quot;);">
    <img src="https://www.santa-keramika.ru/uploads/photos/small/kilim_pool231.jpg" alt="">
</a></div>      
    </div>
    <div class="scrollbar"><div class="handle" style="transform: translateZ(0px) translateX(0px); width: 129px;"></div></div>
</div>

<div class="clearfix"></div>
<br>

<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div></div>