
/* fadke */
.product-item-img img {
    position:absolute;
    bottom:0px;
}
.box-submit-review .form-group > label {
    width:100%;
}
.radio-styled {
    display:inline-block;
    position:relative;    
}
.radio-styled input[type="radio"]{
    position: absolute;
    opacity: 0;
    position: absolute;
    opacity: 0;
    left: 13px;
    top: 20px;
    cursor: pointer;
}
.radio-styled label{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #00a3de;
    font-size: 43px;
    cursor:pointer;
}
.radio-styled label:hover {
    opacity:.8;
}
.radio-styled input[type="radio"] + label:before {
    content:"\f006";
}
.radio-styled input[type="radio"]:checked + label:before,
.radio-styled.hover input[type="radio"] + label:before
{
    content:"\f005";
}
.form-group .text-help {
    margin-top:5px;
}   
.box-submit-review textarea{
    height: 126px;
}
.box-submit-review .btn-blue {
    background-color: #00a3de;
    color: #fff;
    height: 40px;
    font-size: 20px;
    padding: 0px 5px;
    border-radius: 0;
}
.btn-blue:hover {
    opacity:.8;
}
.series-element .news-item-img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    height:auto;
}
.arrow-top {
    width: 60px;
    height: 60px;
    background: url(../images/arrow-top.png) no-repeat -5px -5px;
    background-size: 70px;
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 1000;
    cursor: pointer;
    display:none;
}
.arrow-top:hover {
    opacity:.9;
}
.footer-copyright a {
    text-transform: initial;
    text-decoration:underline;
}
.share-inner-page {
    display:none;
}
.footer-copyright a:hover {
    opacity:1;
    text-decoration:none;
}
@media (max-width: 399px) {
    .series-element {
        width:100%;
    }
}
@media (max-width: 768px) {
    .arrow-top {
        display:none;
    }
}
/* fadke */
.news-item{margin-bottom:12px;}
.news-item-text{padding-bottom:12px;}
h2{margin-bottom:20px;}
.news-item-text p{margin:0px 0px 15px 0px;}
iframe{width:100%;}
.header-catalog:hover>li:hover>ul{display:block!important;z-index:50!important;}
.header-catalog-toggle{width:40px;}
.header-catalog-toggle i{display:block;height:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:6px 0;background-color:#AB6713;}
.header-navigation-toggle{top:32px;}
.header-catalog>li>a{}
.divPager{background-color:#f0f0f0;font-family:"Open Sans",sans-serif;font-size:12px;margin:26px 0 0 0;padding:10px;padding:0;text-align:center;}
.divPager > a, .divPager > span.pagerCur{background-color:transparent;border:1px solid #f0f0f0;color:#797979;padding:6px 12px;margin:10px 0px;text-decoration:none;display:inline-block;}
.divPager > a:hover{border:1px solid #797979;}
.divPager > span.pagerCur{background:#fff;border-color:#ab6713;}
.chosen-container{position:relative;display:inline-block;vertical-align:middle;font-size:15px;zoom:1;*display:inline;-webkit-user-select:none;-moz-user-select:none;user-select:none;text-align:left;}
.chosen-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.chosen-container .chosen-drop{position:absolute;top:100%;left:-9999px;z-index:9999;width:100%;border-top:0;background:transparent;}
.chosen-container.chosen-with-drop .chosen-drop{left:0;}
.chosen-container a{cursor:pointer;}
.chosen-container-single .chosen-single{position:relative;display:block;overflow:hidden;background-clip:padding-box;text-decoration:none;white-space:nowrap;line-height:30px;width:100%;height:39px;padding:3px 23px 0 17px;font-size:14px;color:#5b5b5b;background:#fff;border:1px solid #d4d4d5;border-radius:0;}
.chosen-container-single .chosen-default{color:#999;}
.chosen-container-single .chosen-single span{display:block;overflow:hidden;margin-right:1px;text-overflow:ellipsis;white-space:nowrap;}
.chosen-container-single .chosen-single-with-deselect span{margin-right:38px;}
.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url('../images/chosen-sprite.png') -42px 1px no-repeat;font-size:1px;}
.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px;}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px;}
.chosen-container-single .chosen-single div{position:absolute;top:0;right:0;width:30px;height:100%;}
.chosen-container-single .chosen-single div b{position:absolute;top:17px;right:9px;background:url("../images/select-bg.png") no-repeat 0 0;overflow:hidden;width:12px;height:7px;}
.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px 4px;white-space:nowrap;display:none;}
.chosen-container-single .chosen-search input[type="text"]{margin:1px 0;padding:4px 20px 4px 5px;width:100%;height:auto;outline:0;border:1px solid #aaa;background:white url('../images/chosen-sprite.png') no-repeat 100% -20px;background:url('../images/chosen-sprite.png') no-repeat 100% -20px;font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0;}
.chosen-container-single .chosen-drop{border-radius:0 0 4px 4px;background-clip:padding-box;}
.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;left:-9999px;}
.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0 1px 1px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch;min-width:100%;width:240px;margin:0;padding:4px 0;background:#fff;border:1px solid #d4d4d5;border-radius:0;margin-top:4px;}
.chosen-container .chosen-results li{display:none;margin:0;padding:5px 6px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none;text-align:left;}
.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer;}
.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default;}
.chosen-container .chosen-results li.highlighted{background:#fbad05;color:#fff;}
.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4;}
.chosen-container .chosen-results li.group-result{display:list-item;font-weight:bold;cursor:default;}
.chosen-container .chosen-results li.group-option{padding-left:15px;}
.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline;}
.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0;width:100%;height:auto !important;height:1%;background-color:#fff;cursor:text;}
.chosen-container-multi .chosen-choices li{float:left;list-style:none;}
.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{margin:2px 5px;padding:0;height:27px;outline:0;border:0 !important;background:transparent !important;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0;}
.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:1px;padding:4px 20px 4px 7px;border:0px solid #aaa;max-width:100%;border-radius:3px;background-color:#EBEBEB;background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;color:#333;cursor:default;}
.chosen-container-multi .chosen-choices li.search-choice span{white-space:nowrap;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:9px;right:3px;display:block;width:12px;height:12px;background:url('../images/chosen-sprite.png') -42px 1px no-repeat;font-size:1px;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px;}
.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;color:#666;}
.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4;}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px;}
.chosen-container-multi .chosen-results{margin:0;padding:0;}
.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default;}
.chosen-container-active.chosen-with-drop .chosen-single{border:1px solid #aaa;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;box-shadow:0 1px 0 #fff inset;text-align:left;}
.chosen-container-multi{padding:1px;border:1px solid #D6D4D4;background:#fff;text-align:left;border-radius:3px;}
.chosen-choices:focus, .chosen-choices{outline:none}
.chosen-container-active.chosen-with-drop .chosen-single div{background:transparent;}
.chosen-container-active .chosen-choices{border:none;}
.chosen-container-active .chosen-choices li.search-field input[type="text"]{color:#222 !important;}
.chosen-disabled{opacity:0.5 !important;cursor:default;}
.chosen-disabled .chosen-single{cursor:default;}
.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default;}
.chosen-rtl{text-align:right;}
.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0;}
.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl;}
.chosen-rtl .chosen-single-with-deselect span{margin-left:38px;}
.chosen-rtl .chosen-single div{right:auto;left:3px;}
.chosen-rtl .chosen-single abbr{right:auto;left:26px;}
.chosen-rtl .chosen-choices li{float:right;}
.chosen-rtl .chosen-choices li.search-field input[type="text"]{direction:rtl;}
.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px;}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px;}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop{left:9999px;}
.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0;}
.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0;}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:none;}
.chosen-rtl .chosen-search input[type="text"]{padding:4px 5px 4px 20px;background:white url('../images/chosen-sprite.png') no-repeat -30px -20px;background:url('../images/chosen-sprite.png') no-repeat -30px -20px;direction:rtl;}
.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px;}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px;}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:144dpi){.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span{background-image:url('../images/chosen-sprite%402x.png') !important;background-size:52px 37px !important;background-repeat:no-repeat !important;}
}
.chosen-container-single .chosen-single abbr{top:15px;}
.tab-pane h2{margin:5px 0px 10px 0px;}
.detail-gallery-item{height:80px;width:auto;min-width:50px;max-width:120px;}
.detail-gallery{height:80px;}
.detail-gallery-wrap{height:100px;}
.detail-gallery{height:auto;}
.detail-gallery-item img{display:block;}
.btn-default{border-radius:3px;}
#box_podbor_home div:nth-child(4){direction:rtl;}
#box_podbor_home div:nth-child(4) .product-item-sm-img-wrap::before{background-image:url("../images/img-mask-2.png");background-position:left center;left:0;right:inherit;}
#box_podbor_home div:nth-child(5){direction:rtl;}
#box_podbor_home div:nth-child(5) .product-item-sm-img-wrap::before{background-image:url("../images/img-mask-2.png");background-position:left center;left:0;right:inherit;}
#box_podbor_home div:nth-child(6){direction:rtl;}
#box_podbor_home div:nth-child(6) .product-item-sm-img-wrap::before{background-image:url("../images/img-mask-2.png");background-position:left center;left:0;right:inherit;}
.list-sly-item{height:120px;width:auto;min-width:50px;max-width:120px;display:block;border-left:1px solid #FFF;border-right:1px solid #FFF;position:relative;float:left;margin-right:8px;-webkit-transition:width 500ms ease, opacity 300ms ease;-moz-transition:width 500ms ease, opacity 300ms ease;-ms-transition:width 500ms ease, opacity 300ms ease;-o-transition:width 500ms ease, opacity 300ms ease;transition:width 500ms ease, opacity 300ms ease;background-repeat:no-repeat;background-position:center center;background-size:cover;overflow:hidden;opacity:1;cursor:pointer;}
.list-sly-frame{height:105px;width:100%;margin:5px 0 0;overflow:hidden;position:relative;display:block;}
.list-sly{position:relative;top:0;left:0;overflow:hidden;height:auto;}
.list-sly-item img{}
.list_item_label{color:#935200;text-align:center;vertical-align:middle;white-space:nowrap;justify-content:center;align-items:center;display:flex;border-radius:0.25em;font-size:75%;font-weight:700;line-height:1;padding:0.2em 0.6em 0.3em;}

.project-item{margin-bottom:70px;box-shadow: 0 2px 18px 5px #d7d7d7;}
.project-item:nth-child(2n+2){background:#2c2e3d;color: #fff;}
.project-item:nth-child(2n+2) .project-item-right-box{position:relative;}
.project-item:nth-child(2n+2) .project-item-right-box:after{position:absolute;z-index:0;content:'';top:0;left:-15px;right:15px;bottom:0;background:#2c2e3d url('../images/bg_project.jpg') no-repeat 50% 50%;background-size:cover;}
.project-item > .row{display:flex;}
.project-item-img{display:block;min-height:435px;height:100%;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;}
.project-item-img img{display:none;}
.project-item-right{position:relative;z-index:1;padding:20px 25px 25px 0;display: flex;flex-direction: column;height: 100%;}
.project-item-square{font-size:18px;font-weight:700;position:absolute;top:20px;right:25px;padding:0 0 0 50px;height: 40px;display: flex;align-items: center;background:url('../images/square.png') no-repeat 0 0;}
.project-item-title{margin:10px 0 35px 0;font-size:18px;font-weight:700;}
.project-item-title-{margin-right:160px;}
.project-item-bottom{margin-top:auto;display:flex;flex-direction:row;align-items: center;}
.project-item-user{font-size:18px;}
.project-item-user[data-value=""]{display:none;}
.project-item-user a{font-weight:700;font-style:italic;border-bottom: 1px dashed;color:#000;}
.btn-orange{border:0;font-size:18px;color:#000 !important;font-weight:500;padding:8px 35px;background: #ffd200; /* Old browsers */
background: -moz-linear-gradient(top, #ffd200 0%, #f7981e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffd200 0%,#f7981e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffd200 0%,#f7981e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#f7981e',GradientType=0 ); /* IE6-9 */}
.project-item-more{margin-left: auto;}
.project-item-bottom a:hover,.project-item-bottom a:active,.project-item-bottom a:focus{text-decoration:none;}
.project-item:nth-child(2n+2) .project-item-user a{color:#fff;}
.project-item:nth-child(2n+2) .project-item-square{background:url('../images/square-w.png') no-repeat 0 0;}
.project-top{margin-bottom:40px;}
.project-top > .row{display:flex;}
.project-tabs{display:flex;flex-direction:row;border-radius:5px;overflow:hidden;}
.project-tabs a{font-weight:700;text-align:center;color:#787878 !important;display:block;flex:1;padding:14px 5px;position:relative;}
.project-tabs a:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #f0f0f0;}
.project-tabs a.active{color:#000 !important;border-color:transparent;background: #ffd200; /* Old browsers */
background: -moz-linear-gradient(top, #ffd200 0%, #f7981e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffd200 0%,#f7981e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffd200 0%,#f7981e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#f7981e',GradientType=0 ); /* IE6-9 */}
.project-tabs a.active:before{display:none;}
.project-tabs a:first-child:before{border-radius:5px 0 0 5px;}
.project-tabs a:last-child:before{border-radius:0 5px 5px 0;}
.project-top-all{align-items: center;display: flex;}
.project-top-all a{color:#373737 !important;border-bottom:1px dashed;}
.project-tabs a:hover,.project-top-all a:hover{text-decoration:none !important;}
.project-item-text {margin-bottom: 20px;}
.ajax_form .checkbox input[type="checkbox"]{margin-left:0;}
.show-more{display: flex;justify-content: center;margin-top:-20px;margin-bottom: 40px;}
.show-more a{outline:none !important;padding:0 0 0 65px;background:url('../images/load_more.png') no-repeat 0 50%;background-size:contain;height: 40px;display: flex;align-items: center;color: #373737;font-weight: 700;font-size: 18px;}
.ajax_form .contact-us{border:0;padding:15px 20px 30px 20px;margin:0;}
.ajax_form{color:#000;}
.modal-title{font-size:25px;text-align:center;}

.material-list{display:flex;flex-wrap: wrap;}
.material-list + div .show-more{margin-top: 0;}
.material-item-box{margin-bottom:30px;}
.material-item{display:flex;flex-direction: column;height: 100%;color:#373737;box-shadow: 0px 7px 18px 5px rgb(215,215,215,0.75);overflow: hidden;}
.material-item:hover,.material-item-img:hover{text-decoration:none;}
.material-item-img{display:flex;align-items:flex-end;justify-content: center;height:380px;background-position: center center;background-repeat: no-repeat;background-size: cover;padding-bottom:25px;position:relative;}
.material-item-img:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:url('../images/sh.png') no-repeat 50% 100%;background-size:cover;}
.material-item-img:hover,.material-item-img:active,.material-item-img:focus{color:#fff;}
.material-item-img img{display:none;}
.material-item-img span.title{position:relative;z-index:2;color:#ffffff;font-size:24px;font-weight:700;}
.material-item-img span.new{z-index:2;position:absolute;top:25px;left:0;padding:10px 40px;background:#688d3a;color:#fff;font-weight:500;font-size:14px;}
.material-item-info{display:block;flex: 1;border:1px solid #fdc208;border-top:0;margin:0 10px 10px 10px;padding:20px 20px 12px 20px;}
.material-item-text{line-height: 2;display:block;padding:0 0 10px 0;position:relative;}
.material-item-link{text-align:center;margin:0 0 20px 0;position:relative;}
.material-item-link:after{content:'';height:1px;background:#ececec;position:absolute;top:50%;left:0;right:0;margin-top:-0.5px;}
.material-item-link a{display: inline-flex;align-items: center;color:#2a5885;font-style:italic;position:relative;z-index:2;background:#fff;padding:0 25px;}
.material-item-link a:hover,.material-item-link a:focus,.material-item-link a:active{text-decoration:none;}
.material-item-link a span{height: 20px;border-bottom:1px dashed;}
.material-item-link .fa{margin:2px 0 0 7px;}
.material-item-text:empty,.material-item-img span.new:empty{display:none;}
.material-item-prop{list-style-type:none;margin:0;padding:0;font-size:12px;}
.material-item-prop li{display:flex;margin-bottom:10px;}
.material-item-prop li span{flex:1;}
.material-item-prop li span:first-child{font-family: 'Montserrat', sans-serif;color:#b2b3b3;}
.material-item-prop li span:last-child{font-weight:700;}
.material-item-prop-none{display:none !important;}
.filter .chosen-container{width:100% !important;}

.project-box{margin-bottom:40px;}
.project-row{display:flex;align-items: center;border-top:1px solid #ececec;padding-top:40px;padding-bottom:40px;}
.project-row[data-value=""]{display:none;}
.project-row-left{font-size:24px;display:flex;align-items:center;}
.project-row-left span{font-style:italic;font-weight:700;}
.project-row-img{margin-right:30px;}

.project-similar-item-img{
    display:flex;
    width:100%;
    height:270px;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    padding:15px;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    position:relative;
    text-decoration:none;
}
.project-similar-item-img:hover,
.project-similar-item-img:focus,
.project-similar-item-img:active{
    color:#fff;
    text-decoration:none;
}
.project-similar-item-img img{
    display:none;
}
.project-similar-item-img:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.3);
}
.project-similar-item-img span{
    position:relative;
    z-index:2;
    color:#fff;
}
.project-gallery .swiper-container {width: 100%;height: 300px;margin-left: auto;margin-right: auto;}
.project-gallery .swiper-slide {overflow:hidden;text-align:center;background-size: cover;background-position: center;display: flex;align-items: center;justify-content: center;}
.project-gallery .swiper-slide span{position:absolute;z-index:1;top:0;left:0;right:0;bottom:0;background-size: cover;background-position: center;-webkit-filter: blur(13px);filter: blur(13px);opacity: .4;}
.project-gallery .gallery-top {height: 100%;width: 100%;}
.project-gallery .gallery-top-img{display:inline-block;position:relative;max-height:100%;}
.project-gallery .gallery-thumbs {height: 100%;box-sizing: border-box;padding: 0;}
.project-gallery .gallery-thumbs .swiper-slide {width: 100%;height: 100%;opacity: 1;cursor:pointer;}
.project-gallery .gallery-thumbs .swiper-slide-thumb-active {opacity: 0.3;}
.project-gallery .swiper-button-prev,
.project-gallery .swiper-button-next{right:0;left: 0;width: 100%;height:50px;background-position:0 50%;background-repeat:no-repeat;background-size:cover;opacity: 1 !important;margin: 0;}
.project-gallery .swiper-button-prev{top:0;background-image:url('../images/b-t.png') !important;}
.project-gallery .swiper-button-next{top:auto;bottom:0;background-image:url('../images/b-b.png') !important;}
.project-gallery .swiper-button-prev:after,
.project-gallery .swiper-button-next:after{content:'';position:absolute;top:50%;left:50%;width:40px;height:40px;margin:-20px 0 0 -20px;}

.project-gallery .swiper-button-prev:after{background:url('../images/arr-t.png') 50% 50% no-repeat;}
.project-gallery .swiper-button-next:after{background:url('../images/arr-b.png') 50% 50% no-repeat;}
.swiper-button-disabled{display:none !important;}

.swiper-pagination-bullet{width:10px;height:10px;border:2px solid #fff;background:#fff;opacity:1;}
.swiper-pagination-bullet-active{background:#fbb40f;}
.project-gallery-item-left{height:500px;margin-bottom:40px;}
.project-gallery-item-right{height:500px;margin-bottom:40px;}
.project-gallery-item-right img{max-width:100%;max-height:500px;position:relative;z-index:2;}
.project-gallery-item-left:empty,.project-gallery-item-right:empty{display:none !important;}
.box-material{position:relative;}
.box-material .swiper-container{padding:9px 4px;}
.materials .swiper-slide{position:relative;cursor:pointer;height:47.7px;background-size:cover;background-position:50% 50%;border: 2px solid #fff;box-shadow: 0px 3px 5px 0px #bebebe;background-color: #bebebe;}
.materials .swiper-button-prev,
.materials .swiper-button-next{right:0;left: auto;top:0;bottom:0;width: 50px;height:100%;background-position:50% 0;background-repeat:no-repeat;background-size:cover;opacity: 1 !important;margin: 0;}
.materials .swiper-button-prev{top:0;left:0;bottom:0;background-image:url('../images/b-l.png') !important;}
.materials .swiper-button-next{top:auto;bottom:0;background-image:url('../images/b-r.png') !important;}
.materials .swiper-button-prev:after,
.materials .swiper-button-next:after{content:'';position:absolute;top:50%;left:50%;width:25px;height:25px;margin:-12.5px 0 0 -12.5px;}

.materials .swiper-button-prev:after{background:url('../images/arr-l.png') 50% 50% no-repeat;}
.materials .swiper-button-next:after{background:url('../images/arr-r.png') 50% 50% no-repeat;}
.material-modal,.gallery-point-modal{position:absolute;background:#ededed;width:220px;top:100%;left:0;padding: 23px 12px 12px;display:none;}
.gallery-point-modal{margin-top:13px;text-align:left;}
.gallery-point-modal-left{left:auto;right:0;}
.gallery-point-modal-top{top:auto;bottom:100%;margin-top:0;margin-bottom:13px;}
.material-modal-inner,.gallery-point-modal-inner{position:relative;z-index:2;}
.material-modal:before,.gallery-point-modal:before{content:'';position:absolute;top:-10px;left:10px;border: 5px solid transparent; border-bottom: 5px solid #ededed; }
.material-modal-left:before,.gallery-point-modal-left:before{left:auto;right:10px;}
.gallery-point-modal-top:before{top:auto;bottom:-5px;border-top: 5px solid #ededed;border-bottom:0; }
.material-modal:after,.gallery-point-modal:after{position:absolute;z-index:1;content:'';top:2px;right:2px;bottom:2px;left:2px;border:1px solid #fdc307;}
.material-modal-close,.gallery-point-modal-close{position:absolute;z-index:3;cursor:pointer;display:block;width:10px;height:10px;top:7px;right:7px;background:url('../images/close.png') no-repeat 50% 50%;background-size:contain;}
.material-modal-img:empty,.gallery-point-modal-img:empty{display:none !important;}
.material-modal-img img,.gallery-point-modal-img img{max-height:42px;max-width:100%;}
.material-modal-img,.material-modal-title,.gallery-point-modal-img,.gallery-point-modal-title{margin-bottom:13px;}
.material-modal-title,.gallery-point-modal-title{font-size:13px;line-height:1.2;}
.material-modal .btn,.gallery-point-modal .btn{font-size: 13px;padding-left: 5px;padding-right: 5px;display: block;}

.material-item-slide-inner{display:none;}

.gallery-point{position:absolute;z-index: 20;}
.gallery-point-{display:none !important;}
.gallery-point-inner{width:31px;height:31px;background:url('../images/point.png') no-repeat 50% 50%;cursor:pointer;}
.gallery-point-inner.active:after{content:'';width:21px;height:21px;position:absolute;top:50%;left:50%;margin:-10.5px 0 0 -10.5px;background:url('../images/point-c.png') no-repeat 50% 50%;}

@media (max-width: 1199px) {
    .project-item-img {min-height: 350px;}
    .material-item-img{height:300px;}
}
@media (max-width: 991px) {
    .project-item-img {min-height: 300px;}
    .project-item-title{margin-bottom:20px;}
    .project-item-bottom{flex-direction: column;align-items: flex-start;}
    .project-item-more{margin-left: 0;margin-top: 15px;}
    .project-item {margin-bottom: 50px;}
    .show-more{margin-top:15px;}
    .project-gallery-item-left{height:0px;overflow:hidden;}
    .project-row-left{font-size:18px;}
    .project-row-img{margin-right:15px;width: 40px;height: 40px;}
    .project-row-img img{max-width:100%;height:auto;}
    .project-similar-item-img{margin-bottom:30px;}
    .project-gallery-item-right{height:auto;}
    .project-gallery-item-right img{max-height:none;}
}
@media (max-width: 767px) {
    .project-item > .row {flex-direction: column;}
    .project-item-right{padding:15px 20px 20px 20px;}   
    .project-item-title{margin-right:0;}
    .project-item-square{position: relative;top: auto;left: auto;right: auto;bottom: auto;margin-bottom: 20px;}
    .project-top > .row{flex-direction: column;}
    .project-top-all{margin-top:15px;justify-content: center;}
    .project-item {margin-bottom: 15px;}
    .show-more{margin-top:0;}
    .show-more{margin-bottom:20px;margin-top:35px;}
    .project-item:nth-child(2n+2) .project-item-right-box::after{left:15px;}
    .material-item-box{margin-bottom:15px;}
    .material-item-info{padding:15px;}
    .material-item-img span.title{font-size:20px;}
    
    .project-row{flex-direction: column;align-items:flex-start;padding-top:20px;padding-bottom:20px;}
    .project-row-left{margin-bottom: 20px;font-size:15px;}
    .project-row-img{margin-right:15px;width:40px;height:40px;}
    .project-row-img img{max-width:100%;height:auto;}
    .project-similar-item-img{margin-bottom:15px;}
    h1{font-size:22px;}
}