@import url(https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700italic,700&amp;subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext);
@import url('https://fonts.googleapis.com/css?family=Montserrat&amp;subset=cyrillic,cyrillic-ext');
html{min-height:100%;position:relative;}
html, body{background:#fff;font-family:'Open+Sans', sans-serif;color:#333333;-webkit-font-smoothing:antialiased;font-size:15px;}}
a,
a:hover,
a:hover:focus,
a:hover:active,
a:focus,
a:focus:hover,
a:focus:active,
a:active,
a:active:focus,
a:active:hover,
a:visited,
button,
button:hover,
button:hover:active,
button:hover:focus,
button:focus,
button:focus:hover,
button:focus:active,
button:active,
button:active:focus,
button:active:hover,
button:visited{outline:none!important;}
a, button{opacity:1;-webkit-transition:opacity 300ms ease-in-out;-moz-transition:opacity 300ms ease-in-out;-ms-transition:opacity 300ms ease-in-out;-o-transition:opacity 300ms ease-in-out;transition:opacity 300ms ease-in-out;}
a:hover, button:hover{opacity:0.7;}
a,
a:hover,
a:active,
a:visited,
a:focus{color:#3399cc;}
.form-control{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;border:1px solid #cccccc;font-family:'Open Sans',sans-serif;font-weight:300;font-size:14px;color:#000;}
.form-control:focus{border-color:rgba(0, 0, 0, 0.16);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.23);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.23);}
@media screen and (min-width:1200px){.container{width:100%;}
}
@media screen and (min-width:1220px){.container{width:1200px;}
}
@media screen and (max-width:1199px){}
@media screen and (max-width:991px){}
@media screen and (max-width:767px){}
.header{position:relative;z-index:100;border-bottom:1px solid #dea358;}
.header-navigation{background-color:#fff;padding:5px 0;font-family:'Open Sans',sans-serif;text-align:right;border-bottom:1px solid #e1e1e1;}
.header-navigation ul{list-style:none;margin:0;padding:0;position:relative;font-size:12px;}
.header-navigation ul li{display:inline-block;margin:1px 7.5px;position:relative;}
.header-navigation ul li:last-child{margin-right:0;}
.header-navigation ul li a{padding:5px;display:inline-block;}
.header-navigation ul li a,
.header-navigation ul li a:hover,
.header-navigation ul li a:active,
.header-navigation ul li a:focus,
.header-navigation ul li a:visited{color:#000;text-decoration:none;}
.header-navigation ul li:last-child a{padding-right:0;}
.header-content{background-color:#fed300;border-bottom:1px solid #e1e1e1;}
.header-search-wrap{float:right;width:400px;margin-top:34px;}
.header-search{padding-right:36px;background-image:url("../images/header-search.png");background-repeat:no-repeat;background-position:right center;}
.header-logo-wrap{margin:13px 404px;position:relative;text-align:center;color:#000;text-transform:uppercase;font-size:16px;font-weight:bold;}
.header-logo{color:#000;display:inline-block;position:relative;}
.header-logo,
.header-logo:hover,
.header-logo:active,
.header-logo:focus,
.header-logo:visited{color:#000;}
.header-logo img{max-width:100%;height:auto;width:auto;max-height:100%;display:inline-block;}
.header-info-wrap{float:left;width:400px;margin-top:17px;position:relative;}
.header-info-wrap:before,
.header-info-wrap:after{content:'';display:table;}
.header-info-wrap:after{clear:both;}
.header-info-tel{float:left;width:61%;font-size:13px;}
.header-info-tel a{text-decoration:none;color:#000000;font-size:20px;display:inline-block;font-family:"Open Sans", sans-serif;line-height:1.7;}
.header-info-tel a:hover,
.header-info-tel a:focus,
.header-info-tel a:visited,
.header-info-tel a:active{color:#ab6713;}
.header-info-shops{float:left;width:39%;margin-top:25px;padding-left:10px;font-size:15px;}
.header-catalog-wrap{padding:0;font-family:'Open Sans',sans-serif;position:relative;z-index:100;font-size:14px;font-weight:600;}
.header-catalog-wrap>.container{padding-left:0;padding-right:0;}
.header-catalog-wrap>.container>.row,
.header-catalog-wrap>.container>.row>.col-md-12{padding-left:0;margin-left:0;padding-right:0;margin-right:0;}
.header-catalog{list-style:none;margin:0;padding:0;font-size:13px;position:relative;z-index:90;}
.header-catalog>li{display:inline-block;margin:0 1px;}
.header-catalog>li:first-child{margin-left:0;margin-right:20px;}
.header-catalog>li:first-child a{padding-left:0;padding-right:0;}
.header-catalog>li>a{padding:26px 20px 36px;margin-bottom:-10px;display:inline-block;-webkit-transition:color 300ms ease;-moz-transition:color 300ms ease;-ms-transition:color 300ms ease;-o-transition:color 300ms ease;transition:color 300ms ease;z-index:100;position:relative;font-weight:700;}
.header-catalog>li>a .glyphicon{display:inline-block;font-size:7px;padding-left:10px;position:relative;top:-1px;}
.header-catalog>li>a,
.header-catalog>li>a:active,
.header-catalog>li>a:focus,
.header-catalog>li>a:visited{color:#000;opacity:1;text-decoration:none;}
.header-catalog>li>a:hover,
.header-catalog>li.hovered>a{color:#935200;text-decoration:none;opacity:1;}
.header-catalog>li.active.hovered>a,
.header-catalog>li.active>a{color:#ec8705!important;text-decoration:none;opacity:1;}
.header-catalog>li>ul{position:absolute;background-color:#ffffff;top:72px;left:0;right:0;padding:51px 0 40px;list-style:none;margin:0;border-bottom:1px solid #DEA358;-webkit-box-shadow:0 5px 5px 0px rgba(212, 212, 212, 0.38);;box-shadow:0 5px 5px 0px rgba(212, 212, 212, 0.38);;}
.header-catalog>li>ul:before,
.header-catalog>li>ul:after{content:'';display:table;}
.header-catalog>li>ul:after{clear:both;}
.header-catalog>li>ul>li{display:block;float:left;height:134px;width:25%;font-size:16px;padding:0;margin-bottom:14px;background-color:#fff;z-index:4;position:relative;}
.header-catalog>li>ul>li>a{padding:0;display:table;-webkit-transition:color 500ms ease;-moz-transition:color 500ms ease;-ms-transition:color 500ms ease;-o-transition:color 500ms ease;transition:color 500ms ease;text-align:center;position:relative;height:134px;width:100%;z-index:3;background-color:#fff;}
.header-catalog-img-wrap{display:table-cell;height:134px;-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;-o-transition:opacity 500ms ease;transition:opacity 500ms ease;position:relative;width:52%;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.item-rtl{direction:rtl;}
.header-catalog-img-wrap:before{content:'';position:absolute;right:0;top:0;height:100%;background-image:url("../images/img-mask.png");width:30px;z-index:2;display:block;background-position:right center;background-repeat:no-repeat;}
.item-rtl .header-catalog-img-wrap:before{right:inherit;left:0;background-image:url("../images/img-mask-2.png");background-position:left center;}
.header-catalog-img-wrap img{display:none;}
.header-catalog-name-wrap{display:table-cell;vertical-align:middle;width:48%;font-family:'Philosopher', sans-serif;text-align:left;font-style:italic;font-weight:600;font-size:19px;padding:0 10px;}
.item-rtl .header-catalog-name-wrap{direction:ltr;}
.header-catalog>li>ul>li>a,
.header-catalog>li>ul>li>a:active,
.header-catalog>li>ul>li>a:focus,
.header-catalog>li>ul>li>a:visited{color:#000;text-decoration:none;}
.header-catalog>li>ul>li>a:hover,
.header-catalog>li>ul>li.active>a{color:#935200;text-decoration:none;}
.header-catalog>li>ul li a:hover img,
.header-catalog>li>ul li.active a img{opacity:0.7;}
.header-catalog-arrow{position:absolute;height:16px;width:37px;top:56px;left:0;z-index:80;background-repeat:no-repeat;background-position:0 0;background-image:url("../images/header-catalog-arrow.png");-webkit-transition:left 400ms ease;-moz-transition:left 400ms ease;-ms-transition:left 400ms ease;-o-transition:left 400ms ease;transition:left 400ms ease;}
.header-catalog-toggle{display:none;}
.header-navigation-toggle{display:none;}
@media screen and (min-width:1200px){.header-catalog-wrap>.container{width:1170px;}
.header-catalog:hover>li.hovered>ul{display:block!important;z-index:50!important;}
.header-catalog>li.hovered>ul{display:none!important;}
.header-catalog>li>ul{display:none!important;}
}
@media screen and (max-width:1199px){.header-logo-wrap{margin:13px 340px;}
.header-search-wrap{width:336px;margin-bottom:35px;}
.header-info-wrap{width:336px;margin-bottom:26px;}
.header-info-shops{margin-top:11px;}
.header-info-tel{margin-top:8px;}
.header-catalog:hover>li.hovered>ul{display:block!important;z-index:50!important;}
.header-catalog>li.hovered>ul{display:none!important;}
.header-catalog>li>ul{display:none!important;}
}
@media screen and (max-width:991px){.header-search-wrap{width:170px;margin-top:22px;}
.header-catalog>li>a{padding:26px 10px 36px;}
}
@media screen and (max-width:891px){.header-navigation{display:none;}
.header-catalog>li>ul>li{width:100%;}
.header-info-wrap{width:170px;margin-top:0px;}
.header-info-tel{width:100%;float:none;margin-top:4px;}
.header-info-shops{width:100%;float:none;margin-top:0px;padding-left:0;}
.header-search-wrap{width:170px;margin-top:22px;}
.header-logo-wrap{margin:13px 180px;}
.header{height:228px;}
.header-catalog-wrap{width:100%;left:-100%;right:0;top:227px;z-index:100;position:absolute;-webkit-transition:left 500ms ease;-moz-transition:left 500ms ease;-ms-transition:left 500ms ease;-o-transition:left 500ms ease;transition:left 500ms ease;background-color:#FFF;border-bottom:2px solid #CECECE;border-top:2px solid #CECECE;padding-bottom:5px;}
.header-catalog-wrap.active{left:0;-webkit-box-shadow:0 0 2px 1px #CECECE;box-shadow:0 0 2px 1px #CECECE;width:100%;}
.header-catalog{margin-top:-1px;}
.header-catalog>li{display:block;margin:0 1px;border-top:1px solid #D8D7D7;}
.header-catalog>li:first-child{margin-left:1px;margin-right:1px;}
.header-catalog>li:first-child a{padding:15px 18px 15px 15px;font-size:14px;}
.header-catalog>li a{padding:15px 18px 15px 15px;font-size:14px;display:block;margin-bottom:0;}
.header-catalog>li>a .glyphicon{display:block;float:right;font-size:12px;top:4px;}
.header-catalog:hover>li.hovered>ul{display:none;z-index:50;}
.header-catalog>li>ul{display:none;position:relative;left:0!important;width:auto!important;padding:0!important;top:0;right:0!important;-webkit-box-shadow:none;box-shadow:none;}
.header-catalog>li>ul{border-bottom:none;}
.header-catalog>li>ul li{display:block;padding:0;}
.header-catalog>li.active-sm>ul li a{position:relative;padding:0;}
.header-catalog>li ul li a{position:relative;padding:0!important;}
.header-catalog-arrow{display:none;}
.header-catalog-toggle{top:127px;display:block;position:absolute;cursor:pointer;left:17px;margin-bottom:18px;border:none;background-color:rgba(0, 0, 0, 0);padding:0;font-size:16px;-webkit-transition:color 300ms ease;-moz-transition:color 300ms ease;-ms-transition:color 300ms ease;-o-transition:color 300ms ease;transition:color 300ms ease;z-index:105;color:#935200;font-family:'Open Sans',sans-serif;cursor:pointer;}
.header-catalog-toggle:before{position:absolute;content:'';bottom:0;left:0;right:0;}
.header-catalog-toggle.active:before{}
.header-catalog-toggle:hover:before{}
.header-catalog:hover>li.hovered>ul{display:none!important;}
.header-catalog>li.active-sm>ul,
.header-catalog:hover>li.active-sm>ul{display:block!important;}
.header-catalog>li>ul li{direction:ltr;}
.header-catalog>li>ul li .header-catalog-img-wrap:before{right:0;left:inherit;background-image:url("../images/img-mask.png");background-position:right center;}
.header-catalog>li>ul>li{height:auto;padding-left:10px;}
.header-catalog>li>ul>li>a{height:auto;position:relative;border-collapse:collapse;table-layout:fixed;}
.header-catalog>li>ul>li>a:before,
.header-catalog>li>ul>li>a:after{content:'';display:table;}
.header-catalog>li>ul>li>a:after{clear:both;}
.header-catalog-img-wrap{height:auto;width:30%!important;}
.header-catalog-name-wrap{direction:ltr;width:70%;text-align:right;}
}
@media screen and (max-width:580px){.header-info-wrap{position:absolute;top:-500px;float:none;width:auto;left:15px;right:15px;-webkit-transition:top 1s ease;-moz-transition:top 1s ease;-ms-transition:top 1s ease;-o-transition:top 1s ease;transition:top 1s ease;-webkit-transition:opacity 1s ease;-moz-transition:opacity 1s ease;-ms-transition:opacity 1s ease;-o-transition:opacity 1s ease;transition:opacity 1s ease;opacity:0;z-index:200;background-color:white;}
.header-logo-wrap{margin:13px 0;float:left;}
.header{height:145px;}
.header-catalog-toggle{left:inherit;top:32px;right:15px;}
.header-catalog-wrap{top:144px;padding-top:160px;}
.header-search-wrap{position:absolute;top:-500px;z-index:200;float:none;width:auto;left:15px;right:15px;-webkit-transition:top 1s ease;-moz-transition:top 1s ease;-ms-transition:top 1s ease;-o-transition:top 1s ease;transition:top 1s ease;-webkit-transition:opacity 1s ease;-moz-transition:opacity 1s ease;-ms-transition:opacity 1s ease;-o-transition:opacity 1s ease;transition:opacity 1s ease;opacity:0;}
.header-search-wrap.active{position:absolute;top:174px;width:95%;opacity:1;}
.header-info-wrap.active{top:120px;width:94%;position:absolute;opacity:1;}
.header-info-tel{float:left;width:50%;}
.header-info-shops{float:right;width:50%;margin-top:12px;text-align:right;left:-500px;}
}
@media screen and (max-width:360px){.header-navigation-toggle{display:block;position:absolute;top:16px;right:20px;width:40px;cursor:pointer;border:none;background-color:transparent;padding:0;}
.header-catalog-toggle{top:32px;}
.header-navigation-toggle.active{opacity:0.7;}
.header-navigation-toggle i{display:block;height:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:6px 0;background-color:#AB6713;}
.header-navigation{width:100%;left:-100%;right:0;top:72px;z-index:100;text-align:right;position:absolute;-webkit-transition:left 500ms ease;-moz-transition:left 500ms ease;-ms-transition:left 500ms ease;-o-transition:left 500ms ease;transition:left 500ms ease;}
.header-catalog-toggle{right:15px;}
.header-navigation.active{left:0;-webkit-box-shadow:0 0 2px 1px #CECECE;box-shadow:0 0 2px 1px #CECECE;}
.header-navigation ul{font-size:14px;}
.header-navigation ul li{margin:0;display:block;border-top:1px solid #e1e1e1;}
.header-navigation ul li:first-child{border-top:none;}
.header-navigation ul li a{padding:15px 0 15px 18px;display:block;-webkit-transition:color 300ms ease;-moz-transition:color 300ms ease;-ms-transition:color 300ms ease;-o-transition:color 300ms ease;transition:color 300ms ease;}
.header-navigation ul li a:hover{color:#935200;opacity:1;}
.header-navigation ul li:before{display:none;}
.header{height:auto;}
.header-catalog-wrap{top:70px;}
.header-logo-wrap{width:100px;}
.header-info-wrap.active{top:84px;}
.header-info-tel{float:none;width:100%;text-align:center;}
.header-info-shops{float:none;width:100%;text-align:center;margin-top:0;}
.header-search-wrap.active{top:154px;}
.header-search-wrap.active{width:90%;}
.header-info-wrap.active{width:90%;}
}
@media screen and (max-width:280px){.header-logo-wrap{width:74px;margin-top:19px;}
.header-navigation-toggle{width:30px;top:22px}
.header-catalog-toggle{font-size:14px;top:23px;right:70px;}
.header-navigation-toggle i{margin:4px 0;height:3px;}
.header-catalog-wrap{top:64px;}
.header-navigation{top:65px;}
}
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,
.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.main-slider-item{background-color:#a4a4a4;background-repeat:no-repeat;background-size:cover;outline:none!important;}
.main-slider-item-bg{display:none;}
.main-slider-content-container{padding-top:122px;padding-bottom:125px;}
.main-slider-content{color:#FFF;background-color:#000;background-color:rgba(0, 0, 0, 0.4);text-align:center;padding:26px 11% 90px;}
.main-slider-content-caption{color:white;font-weight:bold;font-size:45px;margin-bottom:1px;}
.main-slider-content-text{color:#dea358;font-weight:bold;font-style:italic;font-size:20px;}
.slick-loading .slick-list{background:#fff url('../images/ajax-loader.gif') center center no-repeat;}
.slick-prev,
.slick-next{font-size:0;line-height:0;position:absolute;top:226px;display:block;width:20px;height:20px;margin-top:-10px;padding:0;cursor:pointer;color:transparent;border:none;outline:none;background:transparent;z-index:2;}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{color:transparent;outline:none;background:transparent;}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity:.25;}
.slick-prev:before,
.slick-next:before{line-height:1;opacity:.75;border-top:10px solid transparent;border-bottom:10px solid transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:8%;}
[dir='rtl'] .slick-prev{right:8%;left:auto;}
.slick-prev:before{content:'←';border-right:14px solid white;}
[dir='rtl'] .slick-prev:before{content:'→';}
.slick-next{right:8%;}
[dir='rtl'] .slick-next{right:auto;left:8%;}
.slick-next:before{content:'→';border-left:14px solid white;}
[dir='rtl'] .slick-next:before{content:'←';}
.slick-dots{position:absolute;bottom:152px;display:block;width:100%;padding:0;list-style:none;text-align:center;z-index:2;}
.slick-dots li{position:relative;display:inline-block;width:8px;height:8px;margin:0 4px;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:10px;height:10px;padding:1px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{position:absolute;top:0;left:0;width:6px;height:6px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;content:'';background-color:white;text-align:center;opacity:.85;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{opacity:1;width:8px;height:8px;top:-1px;background-color:#dea358;}
@media screen and (max-width:991px){.main-slider-content-container{padding-top:35px;padding-bottom:35px;}
.main-slider-content{padding:10px 11% 65px;}
.slick-prev, .slick-next{top:140px;}
.slick-dots{bottom:38px;}
.main-slider-content-caption{font-size:37px;margin-bottom:5px;}
.main-slider-content-text{font-size:19px;}
}
@media screen and (max-width:340px){.main-slider-content-caption{font-size:24px;}
.main-slider-content-text{font-size:17px;}
}
.banner-sm{display:block;position:relative;text-decoration:none;color:#000;text-align:center;border:2px solid #dea358;height:270px;padding:5px 10%;margin-bottom:20px;margin-top:10px;background-color:white;-webkit-transition:border-color 300ms ease;-moz-transition:border-color 300ms ease;-ms-transition:border-color 300ms ease;-o-transition:border-color 300ms ease;transition:border-color 300ms ease;}
.banner-sm:hover,
.banner-sm:focus,
.banner-sm:visited,
.banner-sm:active{color:#000;text-decoration:none;opacity:1;}
.banner-sm:hover{border-color:#ab6713;}
.banner-sm-img{height:80px;position:relative;margin-bottom:16px;margin-top:53px;}
.banner-sm-img img{height:auto;max-height:100px;display:inline-block;width:auto;max-width:100%;}
.banner-sm-text{font-weight:bold;font-size:24px;overflow:hidden;height:100px;position:relative;display:block;}
.banner-sm-text:before{content:'';height:24px;width:30px;background-image:url("../images/text-shadow.png");background-repeat:no-repeat;background-position:0 0;position:absolute;right:0;bottom:0;z-index:6;}
@media screen and (max-width:340px){.banner-sm-text{font-size:20px;}
}
.product-item-lg{display:table;position:relative;text-decoration:none;color:#000;text-align:center;height:170px;padding:0;margin-bottom:20px;margin-top:10px;background-color:white;}
.product-item-lg:hover,
.product-item-lg:focus,
.product-item-lg:visited,
.product-item-lg:active{color:#000;text-decoration:none;}
.product-item-lg-img{display:table-cell;height:270px;-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;-o-transition:opacity 500ms ease;transition:opacity 500ms ease;position:relative;width:50%;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.product-item-lg-img img{display:none;}
.product-item-lg-img:before{content:'';position:absolute;right:0;top:0;height:100%;background-image:url("../images/img-mask.png");width:30px;z-index:2;display:block;background-position:right center;background-repeat:no-repeat;}
.product-item-lg-text{display:table-cell;vertical-align:middle;width:50%;text-align:center;padding:0 10px;}
.product-item-lg-text-caption{font-weight:bold;font-size:24px;margin-bottom:20px;position:relative;max-height:75px;line-height:25px;overflow:hidden;}
.product-item-lg-text-caption:before{content:'';height:24px;width:30px;background-image:url("../images/text-shadow.png");background-repeat:no-repeat;background-position:0 0;position:absolute;right:0;bottom:0;z-index:6;}
.product-item-lg-text-name{color:#ec8705;font-size:20px;font-weight:bold;font-style:italic;margin-bottom:30px;position:relative;max-height:50px;overflow:hidden;line-height:25px;}
.product-item-lg-text-name:before{content:'';height:20px;width:30px;background-image:url("../images/text-shadow.png");background-repeat:no-repeat;background-position:0 0;position:absolute;right:0;bottom:0;z-index:6;}
.product-item-lg-text-description{color:#636363;position:relative;overflow:hidden;font-size:15px;line-height:19px;max-height:76px;}
.product-item-lg-text-description:before{content:'';height:15px;width:30px;background-image:url("../images/text-shadow.png");background-repeat:no-repeat;background-position:0 0;position:absolute;right:0;bottom:0;z-index:6;}
.item-rtl .product-item-lg-img:before{right:inherit;left:0;background-image:url("../images/img-mask-2.png");background-position:left center;}
@media screen and (max-width:430px){.product-item-lg{display:block;height:auto;}
.product-item-lg-img{display:block;width:100%;height:100px;}
.product-item-lg-img:before,
.item-rtl .product-item-lg-img:before{right:inherit;left:0;background-image:url("../images/img-mask-3.png");background-position:center bottom;left:0;right:0;bottom:0;top:inherit;width:100%;height:30px;}
.product-item-lg-text-caption{margin-bottom:10px;margin-top:5px;max-height:999px;}
.product-item-lg-text-name{margin-bottom:15px;max-height:999px;}
.product-item-lg-text-description{max-height:999px;}
.product-item-lg-text-description:before,
.product-item-lg-text-caption:before,
.product-item-lg-text-name:before{display:none;}
}
.gray-container{background-color:#f0f0f0}
.white-container{background-color:#fff}
.white-container,
.gray-container{padding-top:30px;padding-bottom:10px;margin-bottom:29px;}
h1{font-weight:bold;font-size:30px;margin-top:23px;margin-bottom:20px;color:#000;}
h2{font-weight:bold;font-size:30px;margin-top:35px;margin-bottom:63px;color:#000;}
@media (max-width:400px){h2{font-size:25px;margin-top:20px;margin-bottom:40px;}
}
.product-section-item{display:block;position:relative;text-decoration:none;color:#000;text-align:center;height:325px;padding:0;margin-bottom:30px;background-color:#FFF;}
.product-section-item:hover,
.product-section-item:focus,
.product-section-item:visited,
.product-section-item:active{color:#000;text-decoration:none;}
.product-section-item-img{height:270px;background-repeat:no-repeat;background-position:center center;background-size:cover;position:relative;}
.product-section-item-img:before{right:inherit;left:0;background-image:url("../images/img-mask-4.png");background-position:center bottom;left:0;right:0;bottom:0;top:inherit;width:100%;height:12px;content:'';position:absolute;z-index:2;display:block;background-repeat:no-repeat;}
.product-section-item-img img{display:none;}
.product-section-item-name{height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:18px;color:#000;font-weight:bold;margin-top:24px;}
@media screen and (max-width:767px){.product-section-item-img{height:145px;}
.product-section-item{height:200px;}
}
.product-item-sm{padding:0;display:table;-webkit-transition:color 500ms ease;-moz-transition:color 500ms ease;-ms-transition:color 500ms ease;-o-transition:color 500ms ease;transition:color 500ms ease;text-align:center;position:relative;height:170px;width:100%;z-index:3;background-color:#fff;margin-bottom:30px;}
.product-item-sm:hover:before{content:'';position:absolute;border:1px solid #dea358;display:block;left:-15px;right:-15px;top:-15px;bottom:-15px;}
.product-item-sm,
.product-item-sm:active,
.product-item-sm:focus,
.product-item-sm:visited{color:#000;text-decoration:none;}
.product-item-sm:hover,
.product-item-sm.active{text-decoration:none;}
.product-item-sm-img-wrap{display:table-cell;height:170px;-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;-o-transition:opacity 500ms ease;transition:opacity 500ms ease;position:relative;width:50%;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.product-item-sm-img-wrap img{display:none;}
.product-item-sm-img-wrap:before{content:'';position:absolute;right:0;top:0;height:100%;background-image:url("../images/img-mask.png");width:30px;z-index:2;display:block;background-position:right center;background-repeat:no-repeat;}
.item-rtl .product-item-sm-img-wrap:before{right:inherit;left:0;background-image:url("../images/img-mask-2.png");background-position:left center;}
.item-rtl .product-item-sm-name-wrap{direction:ltr;text-align:right;}
.product-item-sm-name-wrap{display:table-cell;vertical-align:middle;width:50%;text-align:left;font-style:italic;font-weight:600;font-size:19px;padding:0 10px;}
.brand-item{height:114px;max-width:184px;width:100%;display:block;margin:0 auto 78px;position:relative;text-align:center;line-height:114px;}
.brand-item img{display:inline-block;line-height:114px;max-width:100%;max-height:100%;}
@media (min-width:992px){.col-md-13{width:20%;}
}
.wide-container .col-lg-1,
.wide-container .col-lg-10,
.wide-container .col-lg-11,
.wide-container .col-lg-12,
.wide-container .col-lg-2,
.wide-container .col-lg-3,
.wide-container .col-lg-4,
.wide-container .col-lg-5,
.wide-container .col-lg-6,
.wide-container .col-lg-7,
.wide-container .col-lg-8,
.wide-container .col-lg-9,
.wide-container .col-md-1,
.wide-container .col-md-10,
.wide-container .col-md-11,
.wide-container .col-md-12,
.wide-container .col-md-2,
.wide-container .col-md-3,
.wide-container .col-md-4,
.wide-container .col-md-5,
.wide-container .col-md-6,
.wide-container .col-md-7,
.wide-container .col-md-8,
.wide-container .col-md-9,
.wide-container .col-sm-1,
.wide-container .col-sm-10,
.wide-container .col-sm-11,
.wide-container .col-sm-12,
.wide-container .col-sm-2,
.wide-container .col-sm-3,
.wide-container .col-sm-4,
.wide-container .col-sm-5,
.wide-container .col-sm-6,
.wide-container .col-sm-7,
.wide-container .col-sm-8,
.wide-container .col-sm-9,
.wide-container .col-xs-1,
.wide-container .col-xs-10,
.wide-container .col-xs-11,
.wide-container .col-xs-12,
.wide-container .col-xs-2,
.wide-container .col-xs-3,
.wide-container .col-xs-4,
.wide-container .col-xs-5,
.wide-container .col-xs-6,
.wide-container .col-xs-7,
.wide-container .col-xs-8,
.wide-container .col-xs-9{padding-right:2px;padding-left:2px;}
.wide-container.container{padding-right:2px;padding-left:2px;width:100%!important;}
.wide-container .row{margin-right:-2px;margin-left:-2px;}
.article-img{height:277px;display:block;background-repeat:no-repeat;background-position:center center;background-color:transparent;margin:2px 0;}
.article-img img{display:none;}
@media (max-width:991px){.article-img{height:150px;}
}
@media (max-width:767px){.article-img{height:100px;}
}
h3{color:#000;font-weight:bold;font-size:18px;margin:10px 0 20px;}
p{margin:34px 0 20px;line-height:1.3;}
h3+p{margin-top:20px;}
.marked-text{font-style:italic;border-top:1px solid #f2d8b6;border-bottom:1px solid #f2d8b6;color:#b97d31;padding:26px 0 0;margin:10px 0 0;font-size:16px;}
.marked-text p{margin-top:0;margin-bottom:22px;line-height:1.45;}
.footer-wrapper{background-color:#2b2b2b;background-size:cover;background-position:center center;background-repeat:no-repeat;background-image:url("../images/footer.jpg");font-size:14px;position:absolute;bottom:0;width:100%;color:white;}
.footer{}
.footer-wrapper a:hover,
.footer-wrapper a:focus,
.footer-wrapper a:active,
.footer-wrapper a:visited,
.footer-wrapper a{text-decoration:none;color:white;}
.footer-copyright{text-transform:uppercase;margin:10px 0 30px;font-size:13px;font-family:'Open Sans',sans-serif;}
.footer-logo{display:block;float:left;margin:56px 0 36px;}
.footer-social{display:block;float:right;margin:62px 0 20px;list-style:none;padding:0;position:relative;}
.footer-social:before,
.footer-social:after{content:'';display:table;}
.footer-social:after{clear:both;}
.footer-social li{margin-left:20px;float:left;}
.footer-social li:first-child{margin-left:0;}
.footer-social li a{background-repeat:no-repeat;display:block;height:38px;width:38px;background-image:url("../images/footer-social.png");}
.footer-social li a.footer-social-tw{background-position:0 0}
.footer-social li a.footer-social-tw:hover{background-position:0 -38px}
.footer-social li a.footer-social-fb{background-position:-58px 0}
.footer-social li a.footer-social-fb:hover{background-position:-58px -38px}
.footer-social li a.footer-social-gp{background-position:-116px 0}
.footer-social li a.footer-social-gp:hover{background-position:-116px -38px}
.footer-creator{margin:64px 0 20px;font-size:12.5px;line-height:1.7;font-family:,sans-serif;}
.footer-nav{margin:65px 3% 30px;position:relative;list-style:none;padding:0;font-size:13px;font-family:'Open Sans',sans-serif;}
.footer-nav:before,
.footer-nav:after{content:'';display:table;}
.footer-nav:after{clear:both;}
.footer-nav li{width:33.33333333%;float:left;padding:0 1%;margin-bottom:12px;}
@media (max-width:991px){.footer-nav{margin:28px 3% 0px;}
.footer-creator{margin:40px 0 20px;text-align:center;}
.footer-copyright{text-align:center;}
.footer-nav li{width:50%;}
}
@media (max-width:500px){}
@media (max-width:400px){.footer-nav li{width:100%;text-align:center;}
.footer-social{float:none;margin-left:auto;margin-right:auto;text-align:center;margin-top:30px;}
.footer-social li{display:inline-block;float:none;}
.footer-logo{float:none;margin-left:auto;margin-right:auto;text-align:center;}
}
.breadcrumbs-wrapper{background-color:#f0f0f0;padding:12px 0 0;margin:0 0 10px;font-size:12px;font-family:'Open Sans',sans-serif;}
.breadcrumbs a{display:inline-block;margin-bottom:13px;position:relative;margin-right:24px;color:#797979;text-decoration:none;}
.breadcrumbs a:hover,
.breadcrumbs a:visited,
.breadcrumbs a:focus,
.breadcrumbs a:active{color:#797979;text-decoration:none;}
.breadcrumbs a:before{content:'';position:absolute;right:-17px;top:7px;background-repeat:no-repeat;background-position:0 0;display:block;height:6px;width:4px;background-image:url("../images/breadcrumbs-arrow.png");}
.breadcrumbs a.active,
.breadcrumbs span{display:inline-block;margin-bottom:13px;margin-right:0;position:relative;color:#000;}
.breadcrumbs a.active:hover,
.breadcrumbs a.active:visited,
.breadcrumbs a.active:focus,
.breadcrumbs a.active:active{color:#000;text-decoration:none;}
.breadcrumbs a.active:before{display:none;}
.news-nav{list-style:none;margin:5px 0 10px;padding:0;font-family:'Open Sans',sans-serif;position:relative;font-size:13px;}
.news-nav:before,
.news-nav:after{content:'';display:table;}
.news-nav:after{clear:both;}
.news-nav li{margin-right:35px;float:left;}
.news-nav li:last-child{margin-right:0;}
.news-nav li a{display:inline-block;margin-bottom:14px;position:relative;color:#797979;text-decoration:none;}
.news-nav li a:hover,
.news-nav li a:visited,
.news-nav li a:focus,
.news-nav li a:active{color:#797979;text-decoration:none;}
.news-nav li a.active,
.news-nav li span{display:inline-block;margin-bottom:14px;position:relative;color:#000;font-weight:bold;}
.news-nav li a.active:hover,
.news-nav li a.active:visited,
.news-nav li a.active:focus,
.news-nav li a.active:active{color:#000;text-decoration:none;}
.news-nav.news-nav-bordered{border-top:1px solid #e1e1e1;margin:25px 0 0px;padding:25px 0 0px;}
.article-big-img{position:relative;margin:12px 0;text-align:center;}
.article-big-img img{display:inline-block;max-width:100%;height:auto;width:auto;}
.cited{position:relative;padding:14px 16px;color:#000;font-size:18px;text-align:right;font-style:italic;margin:12px 0px;}
.cited:before{content:'';display:block;position:absolute;background-color:#000;right:-15px;top:0;bottom:0;width:1px;height:100%;}
.the-right-of-the-cited{position:relative;margin:17px 0 10px;}
.the-right-of-the-cited:before{content:'';display:block;position:absolute;background-color:#000;left:-16px;top:0;bottom:0;width:1px;height:100%;}
.article-data{margin:20px 0 12px;color:#a0a0a0;font-size:15px;}
h4{font-weight:bold;color:#ec8705;margin:13px 0 16px;font-size:14px;}
.map-container{position:relative;margin:15px 0 10px;min-height:522px;width:100%;-webkit-transition:height 300ms ease;-moz-transition:height 300ms ease;-ms-transition:height 300ms ease;-o-transition:height 300ms ease;transition:height 300ms ease;}
.map-container>script,
.map-container>ymaps,
.map-container>frame,
.map-container>iframe{height:100%!important;width:100%!important;position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transition:height 300ms ease;-moz-transition:height 300ms ease;-ms-transition:height 300ms ease;-o-transition:height 300ms ease;transition:height 300ms ease;}
.map-content{position:absolute;top:-2px;left:56px;width:29%;}
.shop-sm-item{padding:20px;position:relative;margin:49px 0 20px;background-color:#fff;z-index:3;-webkit-box-shadow:1px 1px 10px 1px rgba(184, 184, 184, 0.50);box-shadow:1px 1px 10px 1px rgba(184, 184, 184, 0.50);}
.shop-sm-item-img{height:178px;position:relative;background-position:center center;background-size:cover;}
.shop-sm-item-img img{display:none;}
.shop-sm-item-name{margin:16px 10px 10px;font-weight:bold;color:#000;font-size:18px;line-height:1.1;}
.shop-sm-item-description{color:#636363;font-size:15px;padding:0 10px;margin-bottom:14px;}
.shop-sm-item-description a:hover,
.shop-sm-item-description a:focus,
.shop-sm-item-description a:visited,
.shop-sm-item-description a:active,
.shop-sm-item-description a{color:#606060;text-decoration:none;}
.shop-sm-item-description p{margin-top:20px;margin-bottom:0;}
@media (max-width:991px){.map-content{position:absolute;top:-2px;left:56px;width:50%;}
}
@media (max-width:767px){.map-container>script,
.map-container>ymaps,
.map-container>frame,
.map-container>iframe{position:relative;height:300px!important;top:inherit;left:inherit;right:inherit;bottom:inherit;}
.map-content{position:relative;top:0;left:0;width:100%;}
.shop-sm-item{margin:0;}
}
@media (max-width:400px){.shop-sm-item{padding:10px;}
.shop-sm-item-description{padding:0;}
.shop-sm-item-name{margin-left:0;margin-right:0;}
}
.shop-item{position:relative;display:block;margin-bottom:20px;min-height:208px;}
.shop-item-img{display:block;position:relative;background-size:cover;background-position:center;background-repeat:no-repeat;min-height:208px;height:100%;margin-bottom:20px;}
.shop-item-img img{display:none;}
.shop-item-text{display:block;color:#101010;font-size:15px;margin-bottom:20px;}
.shop-item-text a:hover,
.shop-item-text a:focus,
.shop-item-text a:visited,
.shop-item-text a:active,
.shop-item-text a{color:#0066cc;text-decoration:none;}
.shop-item-text p{margin-top:16px;margin-bottom:0;}
.shop-item-text b{color:#000!important;font-weight:normal;}
.shop-item-text h3{color:#000;margin-top:0;margin-bottom:0;}
.sub-caption{font-weight:bold;font-size:24px;margin-top:24px;margin-bottom:35px;color:#000;}
.contact-us{position:relative;padding:50px 50px 20px;margin-bottom:23px;border:2px solid #dea358;background-color:#fff;}
.contact-us .form-control{height:50px;font-size:15px;color:#000;font-weight:500;padding:7px 21px;font-family:'Open Sans',sans-serif;}
.contact-us textarea.form-control{height:120px;width:100%;max-width:100%;min-width:100%;padding:15px 21px;}
.btn-default{color:#000;background-color:#fff;border-color:#dea358;font-weight:600!important;}
.btn-default.focus,.btn-default:focus{color:#333;background-color:#fff;border-color:#d79e55}
.btn-default:hover{color:#333;background-color:#fbf6ef;border-color:#dea358}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default{color:#333;background-color:#fff;border-color:#dea358}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover{color:#333;background-color:#fbf6ef;border-color:#dea358}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled]
.btn-default,fieldset[disabled]
.btn-default.active,fieldset[disabled]
.btn-default.focus,fieldset[disabled]
.btn-default:active,fieldset[disabled]
.btn-default:focus,fieldset[disabled]
.btn-default:hover{color:#333;background-color:#c1c1c1;border-color:#dea358}
.btn-default .badge{color:#333;background-color:#fff;border-color:#dea358}
.contact-us .form-group{margin-bottom:20px;}
@media (max-width:500px){.contact-us{padding:15px 15px 1px;}
}
.news-item{display:block;text-decoration:none;color:#000;margin-bottom:24px;margin-top:12px;}
.news-item:hover,
.news-item:focus,
.news-item:visited,
.news-item:active{text-decoration:none;color:#000;}
.news-item-img{position:relative;height:270px;background-position:center center;background-repeat:no-repeat;background-size:cover;margin-bottom:15px;}
.news-item-img.news-item-img-xl{height:370px;}
.news-item-img.news-item-img-l{height:270px;}
.news-item-img.news-item-img-md{height:190px;}
.news-item-img img{display:none;}
.news-item-date{margin-bottom:9px;color:#a0a0a0;font-size:15px;}
.news-item-caption{line-height:1.2;margin-bottom:11px;color:#000;font-size:18px;}
.news-item-subcaption{margin-bottom:13px;color:#ec8705;font-size:14px;font-weight:bold;}
.news-item-text{margin-bottom:1px;color:#000000;font-size:15px;line-height:1.2;}
.more{display:inline-block;text-decoration:none;height:81px;width:78px;position:relative;text-align:center;line-height:81px;background-image:url("../images/more.png");background-repeat:no-repeat;background-position:center center;margin:10px auto 15px;}
.more:hover,
.more:focus,
.more:active,
.more:visited{color:#000;text-decoration:none;}
.pagination-wrap{text-align:center;padding:0;background-color:#f0f0f0;margin:26px 0;font-family:'Open Sans',sans-serif;font-size:12px;}
.pagination>li>a, .pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#797979;text-decoration:none;background-color:transparent;border:1px solid transparent;}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{z-index:2;color:#000;cursor:default;background-color:#fff;border-color:#ab6713;}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{z-index:3;color:#000;background-color:#eee;border-color:#ddd;}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{color:#c7c7c7;cursor:not-allowed;background-color:transparent;border-color:transparent;}
.pagination{margin:13px 0 1px;}
.pagination>li{display:inline-block;margin:0 8px 8px;}
.filter{position:relative;margin:17px 0 15px;padding-bottom:18px;}
.filter:after{content:'';position:absolute;left:15px;right:15px;bottom:0;border-bottom:1px solid #e8e8e8;}
.filter-top{position:relative;}
.filter-top:before,
.filter-top:after{content:'';display:table;}
.filter-top:after{clear:both;}
.filter-top-selects{position:relative;margin-right:154px;}
.filter-top-selects:before,
.filter-top-selects:after{content:'';display:table;}
.filter-top-selects:after{clear:both;}
.filter-top-select{width:23%;margin-right:2%;margin-bottom:20px;float:left;position:relative;}
.filter-top-btn{float:right;margin-top:-54px;width:154px;margin-bottom:20px;}
.filter .btn-default{font-size:13px;}
.filter-top-select-content{display:block;height:0;-webkit-transition:height 300ms ease;-moz-transition:height 300ms ease;-ms-transition:height 300ms ease;-o-transition:height 300ms ease;transition:height 300ms ease;overflow:hidden;border:1px solid;border-bottom-color:#CCC;border-left-color:#ec8705;border-right-color:#ec8705;border-top-color:#fff;position:absolute;top:33px;left:0;right:0;width:100%;background-color:#fff;z-index:10;}
.filter-top-select-caption{padding-right:33px;cursor:pointer;background-repeat:no-repeat;background-position:right 14px;background-image:url("../images/filter-top-select-caption.png");}
.filter-top-select.active .filter-top-select-caption{border-top-color:#ec8705;border-left-color:#ec8705;border-right-color:#ec8705;border-bottom-color:#fff;background-position:right -58px;}
.filter-top-select.active .filter-top-select-content{height:257px;z-index:99;border-bottom-color:#ec8705;}
.filter-top-select-content-list-wrap{overflow:hidden;padding:0 20px 0 10px;border-bottom:1px solid #cccccc;height:200px;position:relative;}
.filter-top-select-content-list{overflow:hidden;width:100%!important;position:relative;top:0;left:0;}
.filter-top-select-content-btn{padding:10px 20px;text-align:center;}
.filter-scrollbar{width:5px;height:192px;background-color:#ebebeb;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;overflow:hidden;position:absolute;top:3px;z-index:11;right:5px;}
.filter-scrollbar .handle{width:100%;background-color:#da7d00;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;}
.filter-top-select-content-list .checkbox{overflow:hidden;height:auto;width:100%;position:relative;min-height:20px;display:block!important;}
.filter-bottom-item{cursor:pointer;display:inline-block;padding:3px 12px 1px 19px;background-repeat:no-repeat;font-size:14px;color:#000;background-position:0px 8px;background-image:url("../images/filter-bottom-item.png");opacity:1;-webkit-transition:opacity 300ms ease;-moz-transition:opacity 300ms ease;-ms-transition:opacity 300ms ease;-o-transition:opacity 300ms ease;transition:opacity 300ms ease;}
.filter-bottom-item:hover{opacity:.8;}
@media (max-width:991px){.filter-top-select{width:48%;}
}
@media (max-width:600px){.filter-top-select{width:100%;margin-right:0;}
.filter-top-selects{margin-right:0;}
.filter-top-btn{float:none;margin-top:0;width:100%;margin-bottom:20px;}
}
.detail-gallery-wrap{margin:5px 0 0;overflow:hidden;height:134px;width:100%;position:relative;display:block;}
.detail-gallery{height:114px;position:relative;top:0;left:0;overflow:hidden;}
.detail-gallery:before,
.detail-gallery:after{content:'';display:table;}
.detail-gallery:after{clear:both;}
.detail-gallery-item{display:block;border-left:1px solid #FFF;border-right:1px solid #FFF;position:relative;float:left;height:114px;width:171px;margin-right:8px;-webkit-transition:width 500ms ease, opacity 300ms ease;-moz-transition:width 500ms ease, opacity 300ms ease;-ms-transition:width 500ms ease, opacity 300ms ease;-o-transition:width 500ms ease, opacity 300ms ease;transition:width 500ms ease, opacity 300ms ease;background-repeat:no-repeat;background-position:center center;background-size:cover;overflow:hidden;opacity:1;cursor:pointer;}
.detail-gallery-item img{display:none;}
.scrollbar{width:100%;height:6px;overflow:hidden;background-color:#ebebeb;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;}
.scrollbar .handle{width:100px;height:6px;background-color:#da7d00;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;transition:background-color .2s linear;bottom:0;}
@charset "UTF-8";.blueimp-gallery,.blueimp-gallery>.slides>.slide>.slide-content{position:absolute;top:0;right:0;bottom:0;left:0;-moz-backface-visibility:hidden}.blueimp-gallery>.slides>.slide>.slide-content{margin:auto;width:auto;height:auto;max-width:100%;max-height:100%;opacity:1}.blueimp-gallery{position:fixed;z-index:999999;overflow:hidden;background:#000;background:rgba(0,0,0,.9);opacity:0;display:none;direction:ltr;-ms-touch-action:none;touch-action:none}.blueimp-gallery-carousel{position:relative;z-index:auto;margin:1em auto;padding-bottom:56.25%;box-shadow:0 0 10px #000;-ms-touch-action:pan-y;touch-action:pan-y}.blueimp-gallery-display{display:block;opacity:1}.blueimp-gallery>.slides{position:relative;height:100%;overflow:hidden}.blueimp-gallery-carousel>.slides{position:absolute}.blueimp-gallery>.slides>.slide{position:relative;float:left;height:100%;text-align:center;-webkit-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-moz-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-ms-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-o-transition-timing-function:cubic-bezier(0.645,.045,.355,1);transition-timing-function:cubic-bezier(0.645,.045,.355,1)}.blueimp-gallery,.blueimp-gallery>.slides>.slide>.slide-content{-webkit-transition:opacity .5s linear;-moz-transition:opacity .5s linear;-ms-transition:opacity .5s linear;-o-transition:opacity .5s linear;transition:opacity .5s linear}.blueimp-gallery>.slides>.slide-loading{background:url(../images/loading.html) center no-repeat;background-size:64px 64px}.blueimp-gallery>.slides>.slide-loading>.slide-content{opacity:0}.blueimp-gallery>.slides>.slide-error{background:url(../images/error.html) center no-repeat}.blueimp-gallery>.slides>.slide-error>.slide-content{display:none}.blueimp-gallery>.prev,.blueimp-gallery>.next{position:absolute;top:50%;left:15px;width:40px;height:40px;margin-top:-23px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:60px;font-weight:100;line-height:30px;color:#fff;text-decoration:none;text-shadow:0 0 2px #000;text-align:center;background:#222;background:rgba(0,0,0,.5);-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:3px solid #fff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:.5;cursor:pointer;display:block}.blueimp-gallery>.next{left:auto;right:15px}.blueimp-gallery>.close,.blueimp-gallery>.title{position:absolute;top:15px;left:15px;margin:0 40px 0 0;font-size:20px;line-height:30px;color:#fff;text-shadow:0 0 2px #000;opacity:.8;display:block}.blueimp-gallery>.close{display:block!important;padding:15px;right:15px;left:auto;margin:-15px;font-size:30px;text-decoration:none;cursor:pointer}.blueimp-gallery>.play-pause{position:absolute;right:15px;bottom:15px;width:15px;height:15px;background:url(../images/play-pause.html) 0 0 no-repeat;cursor:pointer;opacity:.5;display:none}.blueimp-gallery-playing>.play-pause{background-position:-15px 0}.blueimp-gallery>.prev:hover,.blueimp-gallery>.next:hover,.blueimp-gallery>.close:hover,.blueimp-gallery>.title:hover,.blueimp-gallery>.play-pause:hover{color:#fff;opacity:1}.blueimp-gallery-controls>.prev,.blueimp-gallery-controls>.next,.blueimp-gallery-controls>.close,.blueimp-gallery-controls>.title,.blueimp-gallery-controls>.play-pause{display:block;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.blueimp-gallery-single>.prev,.blueimp-gallery-left>.prev,.blueimp-gallery-single>.next,.blueimp-gallery-right>.next,.blueimp-gallery-single>.play-pause{display:none}.blueimp-gallery>.slides>.slide>.slide-content,.blueimp-gallery>.prev,.blueimp-gallery>.next,.blueimp-gallery>.close,.blueimp-gallery>.play-pause{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body:last-child .blueimp-gallery>.slides>.slide-error{background-image:url(https://www.santa-keramika.ru/templates/default/images/error.svg)}body:last-child .blueimp-gallery>.play-pause{width:20px;height:20px;background-size:40px 20px;background-image:url(https://www.santa-keramika.ru/templates/default/images/play-pause.svg)}body:last-child .blueimp-gallery-playing>.play-pause{background-position:-20px 0}*+html .blueimp-gallery>.slides>.slide{min-height:300px}*+html .blueimp-gallery>.slides>.slide>.slide-content{position:relative}@charset "UTF-8";.blueimp-gallery>.indicator{position:absolute;top:auto;right:15px;bottom:15px;left:15px;margin:0 40px;padding:0;list-style:none;text-align:center;line-height:10px;display:block}.blueimp-gallery>.indicator>li{display:inline-block;width:9px;height:9px;margin:6px 3px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:1px solid transparent;background:#ccc;background:rgba(255,255,255,.25)center no-repeat;border-radius:5px;box-shadow:0 0 2px #000;opacity:.5;cursor:pointer}.blueimp-gallery>.indicator>li:hover,.blueimp-gallery>.indicator>.active{background-color:#fff;border-color:#fff;opacity:1}.blueimp-gallery-controls>.indicator{display:block;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.blueimp-gallery-single>.indicator{display:none}.blueimp-gallery>.indicator{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}*+html .blueimp-gallery>.indicator>li{display:inline}@charset "UTF-8";.blueimp-gallery>.slides>.slide>.video-content>img{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:auto;height:auto;max-width:100%;max-height:100%;-moz-backface-visibility:hidden}.blueimp-gallery>.slides>.slide>.video-content>video{position:absolute;top:0;left:0;width:100%;height:100%}.blueimp-gallery>.slides>.slide>.video-content>iframe{position:absolute;top:100%;left:0;width:100%;height:100%;border:none}.blueimp-gallery>.slides>.slide>.video-playing>iframe{top:0}.blueimp-gallery>.slides>.slide>.video-content>a{position:absolute;top:50%;right:0;left:0;margin:-64px auto 0;width:128px;height:128px;background:url(../images/video-play.html) center no-repeat;opacity:.8;cursor:pointer}.blueimp-gallery>.slides>.slide>.video-content>a:hover{opacity:1}.blueimp-gallery>.slides>.slide>.video-playing>a,.blueimp-gallery>.slides>.slide>.video-playing>img{display:none}.blueimp-gallery>.slides>.slide>.video-content>video{display:none}.blueimp-gallery>.slides>.slide>.video-playing>video{display:block}.blueimp-gallery>.slides>.slide>.video-loading>a{background:url(../images/loading.html) center no-repeat;background-size:64px 64px}body:last-child .blueimp-gallery>.slides>.slide>.video-content:not(.video-loading)>a{background-image:url(https://www.santa-keramika.ru/templates/default/images/video-play.svg)}*+html .blueimp-gallery>.slides>.slide>.video-content{height:100%}*+html .blueimp-gallery>.slides>.slide>.video-content>a{left:50%;margin-left:-64px}
.select-color{margin:39px 0 0;position:relative;}
.select-color:before,
.select-color:after{content:'';display:table;}
.select-color:after{clear:both;}
.select-color-item{position:relative;padding:3px 4px 3px;-webkit-border-radius:31px;-moz-border-radius:31px;border-radius:31px;display:block;text-decoration:none;margin-right:5px;cursor:pointer;float:left;height:31px;border:1px solid white;}
.select-color .select-color-item:last-child{margin-right:0;}
.select-color-item:hover,
.select-color-item:focus,
.select-color-item:active,
.select-color-item:visited{text-decoration:none;color:#797979;}
.select-color-item.active{background-color:#ebebeb;}
.select-color-item:hover{border-color:#ebebeb;}
.select-color-item:before,
.select-color-item:after{content:'';display:table;}
.select-color-item:after{clear:both;}
.select-color-item-name{float:left;color:#797979;font-size:14px;padding:3px 11px;}
.select-color-item-img{float:left;height:23px;width:23px;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;border:1px solid #cccccc;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.select-color-item-img img{display:none;}
.detail-caption{margin:32px 0 20px;color:#000;text-transform:uppercase;font-weight:bold;font-size:23px;}
.detail-img{height:252px;position:relative;display:block;background-repeat:no-repeat;background-size:cover;background-position:center;margin-bottom:10px;}
.detail-img img{display:none;}
.detail-description{margin-bottom:10px;font-size:14px;color:#000;font-family:'Open Sans',sans-serif;line-height:2;}
.detail-price{margin:13px 0 12px;color:#000;font-weight:bold;font-size:23px;}
.nav-tabs{margin-top:40px;font-size:18px;}
.nav-tabs>li>a{padding:14px 25px;color:#000;}
.tab-content .select-color{margin-top:0;margin-bottom:29px;}
.tab-content{padding:18px 15px;}
.product-item{display:block;text-decoration:none;color:#000;margin-bottom:25px;height:275px;}
.product-item:hover,
.product-item:focus,
.product-item:active,
.product-item:visited{color:#000;text-decoration:none;}
.product-item-img{position:relative;height:170px;text-align:left;margin-bottom:15px;}
.product-item-img img{width:auto;height:auto;max-width:100%;max-height:100%;}
.product-item-caption{position:relative;height:26px;overflow:hidden;margin-bottom:2px;}
.product-item-caption:before,
.product-item-caption:after{content:'';display:table;}
.product-item-caption:after{clear:both;}
.product-item-caption-name{float:left;text-transform:uppercase;font-size:16px;font-weight:bold;width:70%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.product-item-caption-size{float:right;font-size:13px;font-family:'Open Sans',sans-serif;color:#545454;width:30%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:right;margin-top:2px;}
.product-item-description{height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#545454;font-size:13px;}
.product-item-price{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:bold;font-size:10px;line-height:20px;height:20px;}
.product-item-price span{font-size:18px;line-height:20px;}
@media(max-width:411px){.product-item-img{height:80px;margin-bottom:5px;}
.product-item{height:146px;}
.product-item-caption-name{font-size:12px;}
.product-item-caption-size{font-size:8px;}
.product-item-caption{height:15px;}
.product-item-description{font-size:10px;height:18px;}
.product-item-price span{font-size:14px;}
}
.news-item.news-item-sm{display:block;position:relative;}
.news-item.news-item-sm:before,
.news-item.news-item-sm:after{content:'';display:table;}
.news-item.news-item-sm:after{clear:both;}
.news-item.news-item-sm .news-item-img{height:70px;width:70px;float:left;}
.news-item.news-item-sm .news-item-text{margin-left:90px;}
.bordered-link{display:block;color:#000;text-decoration:none;padding:15px 5%;text-align:center;border:2px solid #dea358;position:relative;font-weight:bold;font-size:24px;margin-bottom:30px;}
.bordered-link:hover,
.bordered-link:focus,
.bordered-link:active,
.bordered-link:visited{display:block;color:#000;text-decoration:none;}
.bordered-link img{height:auto;width:auto;max-width:90%;}
.tile-item{margin-top:35px;}
.tile-item-img{height:270px;position:relative;background-position:center center;background-repeat:no-repeat;background-size:cover;margin-bottom:20px;}
.tile-item-info{margin-bottom:20px;}
.tile-item-lg .tile-item-img{height:570px;}
.tile-item-img img{display:none;}
.embed-responsive-sm{max-width:270px;max-height:160px;}
.download-pdf{padding-left:40px;display:inline-block;background-repeat:no-repeat;background-position:0 0;text-decoration:none;background-image:url("../images/pdf.png");color:#636363!important;}
.download-pdf:hover,
.download-pdf:hover,
.download-pdf:hover,
.download-pdf:hover{color:#636363;text-decoration:none;}
.tile-item-info-caption{font-weight:bold;font-size:18px;margin-bottom:4px;color:#000;}
.tile-item-info-sub-caption{color:#ec8705;margin-bottom:4px;font-size:14px;font-weight:bold;text-decoration:none;}
.tile-item-info-sub-caption:hover,
.tile-item-info-sub-caption:focus,
.tile-item-info-sub-caption:visited,
.tile-item-info-sub-caption:active{color:#ec8705;text-decoration:none;}
.tile-item-info p{margin:10px 0 18px;}
.interior-item{margin-bottom:28px;display:block;color:#000;text-decoration:none;}
.interior-item:hover,
.interior-item:focus,
.interior-item:active,
.interior-item:visited{color:#000;text-decoration:none;}
.interior-item-img{height:170px;background-position:center center;background-repeat:no-repeat;background-size:cover;margin-bottom:16px;}
.interior-item-img img{display:none;}
.interior-item-text{font-size:18px;font-weight:bold;line-height:1.1;}

.added {
    width: 92% !important;
	margin-right: 10px;
	display: inline-block !important;
}

.added.first {
	width: 100% !important;
}

.remove {
	color: gray !important;
cursor: pointer;
}

.search {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px !important;
}


.tsearch {
	width: 100%;
}

.tsearch thead {
	background-color: #e2e2e2;
}
.tsearch tr {
	border-bottom: 1px solid #e0d5d5;
}
.tsearch th, .tsearch td {
	padding: 20px;
	outline: none;
}
.result {
	padding-top: 30px;
}

.tables {
display: block;
width: 100%;
float: left;
}

.add-link {
    display: inline-block;
    height: 49px;
    width: 70%;
    line-height: 27px;
}

.result-count {
height: 34px;
    line-height: 33px;
    color: #337ab7;
}

.date-modified {
    display: inline-block;
    font-weight: bold;
    padding-left: 20px;
    height: 76px;
    line-height: 85px;
    float: left;
}

h1.search-title {
	display: inline-block;
	float: left;
}

table.tablesorter th.tablesorter-headerUnSorted {
    background-image: url('https://closed.loopia.com/');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter th.tablesorter-headerAsc {
    background-image: url(https://closed.loopia.com/);
    background-repeat: no-repeat;
    background-position: center right;
}
table.tablesorter th.tablesorter-headerDesc {
    background-image: url(https://closed.loopia.com/);
    background-repeat: no-repeat;
    background-position: center right;
}

@media screen and (max-width: 500px) {
	.date-modified {
		height: auto;
		line-height: 20px;
		padding-left: 0px;
		padding-bottom: 10px;
		width: 240px;
	}
	h1.search-title {
		margin-bottom: 10px;
	}
}