
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .konvajs-content {
    margin: auto;
  }
	div.pro360 {
    height: 250px !important;
    width: 250px !important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	div.pro360 {
    height: 260px !important;
    width: 260px !important;
		margin-top: -10px !important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	div.pro360 {
    height: 260px !important;
    width: 260px !important;
		margin-top: -10px !important;
	}
}
@media(max-width:414px) {
	div.pro360 {
    height: 320px !important;
    width: 320px !important;
	}
}
@media(max-width:375px) {
	div.pro360 {
    height: 320px !important;
    width: 320px !important;
	}
}
@media(max-width:320px) {
	div.pro360 {
    height: 290px !important;
    width: 290px !important;
	}
}

/* @media(max-width:767px) {
  .pro360 .konvajs-content canvas {
    height: 260px !important;
    width: 260px !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .modal-body {
    height: 320px;
  }

  .konvajs-content {
    height: 320px !important;
    width: 320px !important;
  }
} */
