

.modal-header {
  padding: 0px;
  border: 0px;
  position: relative;
}
.modal-header .close {
  padding: 0;
  margin: 0;
  right: 7px;
  top: 2px;
  position: absolute;
  z-index: 9;
}
.modal-body {
  height: 500px;
}
.modal-body iframe {
  border: 0px;
}
.btn-success {
    background-image: url(../button-img.png);
    background-position: center;
    background-size: 100% 100%;
    height: 70px;
    width: 220px;

}
.btn-success, .btn-success:hover, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background-color: transparent;
    border: 0;
}
.btn:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
  box-shadow: none;
}
